<!DOCTYPE html>
<html>
  <head>
    <title> reelyActive Bubblescape </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/main.css">
    <script type="text/javascript" src="http://izaidi.me/reelyactive/champagne.js"></script>
    <script type="text/javascript" src="js/bubblescape.js"></script>
  </head>
  <body>
    <div ng-controller="InteractionCtrl" id="bubbles">
      <bubble ng-repeat="(id, device) in devices | orderBy:'receiverId'"
              ng-if="hasFetchedStory(device)" size="140px"
              json="device.story" motion="true" fade="true"
              visible="Person,Product">
      </bubble>
    </div>
  </body>
</html>
