<!DOCTYPE html>
<html>
  <head>
    <title> reelyActive Bubblescape </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/bubble.css">
    <link rel="stylesheet" href="style/main.css">
    <script type="text/javascript" src="js/champagne.js"></script>
    <script type="text/javascript" src="js/bubblescape.js"></script>
  </head>
  <body ng-app="bubblescape">
    <div ng-controller="InteractionCtrl">
      <bubble ng-repeat="(id, device) in devices | orderBy:'receiverId'"
              ng-if="hasFetchedStory(device)" id="{{id}}" size="140px"
              json="device.story" mode="desktop" motion="true" fade="true"
              visible="Person,Product">
      </bubble>
    </div>
  </body>
</html>
