html {
  position: relative;
  min-height: 100%;
}

body {
  background: grey;
  font-family: 'Source Sans Pro', sans-serif;
}

#bubbles {
  width: 900px;
  height: 600px;
  background: #0770a2;
  margin: 50px;
}