html {
  position: relative;
  min-height: 100%;
}

body {
  background: #398db5;
  font-family: 'Source Sans Pro', sans-serif;
}

/* The properties of the bubble container are specified here */
#bubbles {
  background: #0770a2;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  margin: 10px;
}
