html {
  position: relative;
  min-height: 100%;
}

body {
  background: #0770a2;
 /* background-image: url(http://192.168.0.101/images/sky3.jpg);
  background-size: cover;*/
  font-family: 'Source Sans Pro', sans-serif;
}
